
        .question { margin-bottom: 20px; }
        .hidden { display: none; }

        /* 스타일링 */
        .form_radio_btn {
            width: 47%;
            height: 45px;
            border: 1px solid #EAE7E7;
            border-radius: 10px;
            margin-bottom: 10px;
            display: inline-block; /* 가로 정렬 */
        }
        .form_radio_btn input[type=radio] {
            display: none;
        }
        .form_radio_btn label {
            display: block;
            border-radius: 10px;
            text-align: center;
            height: 100%;
            line-height: 45px;
            background: #F9FAFC;
            color: #666;
            cursor: pointer;
        }

        /* Checked */
        .form_radio_btn input[type=radio]:checked + label {
            background: #184DA0;
            color: #fff;
        }

        /* Hover */
        .form_radio_btn label:hover {
            color: #666;
        }

        /* 버튼 스타일 */
        .survey-button {
            margin-top: 15px;
            width: 200px;
            height: 35px;
            background-color: #184DA0;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .survey-button:hover {
            background-color: #002f74;
        }