 /* 바디 전체 */
.container { 
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .container .div {
    width: 1200px;
    height: 1040px;
    position: relative;
  }
 

/* 헤더 */

/* 회원가입, 로그인 버튼 */
  .container :link, :visited{
    color: #1a1a1a; /* 클릭 후에도 동일한 색상 유지 */
    text-decoration: none; /* 클릭 후에도 밑줄 없음 */
    outline: none; /* 클릭 후에 생기는 테두리 제거 */
    text-decoration: none; /* 밑줄 제거 */
  }
  
  .container .header {
    position: absolute;
    width: 1200px;
    height: 90px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-top-style: none;
    border-right-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #dfdfdf;
  }

  .container .logo{
    position:relative;
    height: 56px;
    width: 222px;
    right: 200px;
    bottom: 10px;
    object-fit: cover;
  }
  
  .container .overlap-group {
    position: relative;
    width: 820px;
    height: 40px;
    top: 24px;
    left: 263px;
  }
  
  .container .section {
    position: absolute;
    width: 674px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .container .background-border {
    position: relative;
    width: 545px;
    height: 40px;
    left: 64px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid;
    border-color: #efefef;
  }
  
  .container .input {
    position: absolute;
    width: 486px;
    height: 38px;
    top: 1px;
    left: 11px;
    background-color: #f9f9f9;
  }
  
  .container .div-wrapper {
    position: relative;
    height: 15px;
    top: 12px;
  }
  
  .container .text-wrapper {
    width: 486px;
    height: 15px;
    top: -1px;
    left: 0;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #787878;
    font-size: 12.2px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
  }
  
  .container .SVG {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 509px;
  }
  
  .container .section-list {
    position: absolute;
    width: 170px;
    height: 30px;
    top: 5px;
    left: 650px;
  }
  
  .container .item {
    position: absolute;
    width: 132px;
    height: 24px;
    top: 3px;
    left: 38px;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #c8c8c8;
  }
  
  .container .link {
    position: absolute;
    width: 103px;
    height: 22px;
    top: 0;
    left: 15px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #1a1a1a;
    font-size: 14.3px;
    letter-spacing: 0;
    line-height: 22.5px;
    white-space: nowrap;
    
    
  }
  
  .container .div-2 {
    position: absolute;
    width: 1180px;
    height: 526px;
    top: 120px;
    left: 10px;
  }
  
  .container .item-2 {
    position: absolute;
    width: 62px;
    height: 49px;
    top: 8px;
    left: 50%; /* 부모 요소의 너비의 50% 위치 */
    transform: translateX(-50%); /* 요소 너비의 절반만큼 왼쪽으로 이동 */
  }
  
  .container .heading {
    position: absolute;
    width: 62px;
    height: 27px;
    top: 8px;
    left: 0;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 16.9px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .container .item-heading {
    position: absolute;
    width: 81px;
    height: 27px;
    top: 16px;
    left: 695px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #1a1a1a;
    font-size: 16.9px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .container .div-3 {
    position: absolute;
    width: 901px;
    height: 401px;
    top: 93px;
    left: 139px;
    overflow: hidden;
  }
  
  .container .link-2 {
    position: absolute;
    width: 298px;
    height: 200px;
    top: 201px;
    left: 603px;
    text-align: center;
  }

  .container .category-image{
    height: 140px; 
    width: 140px;
    margin: 0 auto;
  }
  
  .container .text-wrapper-2 {
    width: 207px;
    height: 32px;
    top: 143px;
    left: 45px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #1a1a1a;
    font-size: 20px;
    text-align: center;
    line-height: 22.5px;
    position: absolute;
    letter-spacing: 0;
  }
  
  .container .link-3 {
    position: absolute;
    width: 298px;
    height: 200px;
    top: 0;
    left: 603px;
    text-align: center;
  }
  
  .container .text-wrapper-3 {
    width: 207px;
    height: 32px;
    top: 144px;
    left: 45px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #1a1a1a;
    font-size: 20px;
    text-align: center;
    line-height: 22.5px;
    position: absolute;
    letter-spacing: 0;
  }
  
  .container .link-4 {
    position: absolute;
    width: 298px;
    height: 200px;
    top: 0;
    left: 305px;
    text-align: center;
  }
  
  .container .text-wrapper-4 {
    width: 207px;
    height: 32px;
    top: 142px;
    left: 45px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #1a1a1a;
    font-size: 20px;
    text-align: center;
    line-height: 22.5px;
    position: absolute;
    letter-spacing: 0;
  }
  
  .container .link-5 {
    position: absolute;
    width: 298px;
    height: 200px;
    top: 201px;
    left: 305px;
    text-align: center;
  }
  
  .container .link-6 {
    position: absolute;
    width: 298px;
    height: 200px;
    top: 201px;
    left: -1px;
    text-align: center;
  }
  
  .container .link-7 {
    position: absolute;
    width: 298px;
    height: 200px;
    top: 0;
    left: 0;
    text-align: center;
  }
  
  .container .footer {
    position: absolute;
    width: 1200px;
    height: 316px;
    top: 724px;
    left: 0;
    background-color: transparent;
  }
  
  .container .list-wrapper {
    position: relative;
    width: 1200px;
    height: 111px;
    top: 205px;
    background-color: #f9f9f9;
  }
  
  .container .list {
    position: relative;
    width: 483px;
    height: 82px;
    top: 16px;
    left: 361px;
  }
  
  .container .item-list {
    position: relative;
    width: 478px;
    height: 81px;
    left: 4px;
  }
  
  .container .item-3 {
    position: absolute;
    width: 478px;
    height: 20px;
    top: 0;
    left: 0;
  }
  
  .container .text-wrapper-5 {
    width: 51px;
    height: 19px;
    top: 0;
    left: 0;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #3a3a3a;
    font-size: 13px;
    line-height: 19.5px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
  }
  
  .container .guide-it {
    position: absolute;
    width: 80px;
    height: 19px;
    top: 0;
    left: 132px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 19.5px;
    white-space: nowrap;
  }
  
  .container .item-4 {
    position: absolute;
    width: 478px;
    height: 20px;
    top: 26px;
    left: 0;
  }
  
  .container .text-wrapper-6 {
    width: 48px;
    height: 20px;
    top: -1px;
    left: 0;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #3a3a3a;
    font-size: 13px;
    line-height: 19.5px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
  }
  
  .container .text-wrapper-7 {
    width: 94px;
    height: 20px;
    top: 0;
    left: 132px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 13px;
    line-height: 19.5px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
  }
  
  .container .item-5 {
    position: absolute;
    width: 478px;
    height: 20px;
    top: 52px;
    left: 0;
    display: flex; /* Flexbox로 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
  }
  
  .container .text-wrapper-8 {
    width: auto; /* 너비 자동 조정 */
    margin-right: 10px; /* 요소 간 간격 조정 */
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #3a3a3a;
    font-size: 13px;
    line-height: 19.5px;
    white-space: nowrap;
    letter-spacing: 0;
  }
  
  .container .address {
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 19.5px;
    white-space: nowrap;
  }
